Repository fernando-duarte/heteroskedasticity_identification: changes, and which pre-commit hooks are due for each by the changed paths.
All: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement, deps-in-desc, forbid-to-commit

.pre-commit-config.yaml:

# Pre-commit configuration using local R hooks
# This bypasses the renv isolation issues by using your system R installation
repos:
# Local R hooks that use system R (with digest 0.6.37)
- repo: local
  hooks:
    # Style files using styler
    - id: style-files
      name: Style R files
      entry: Rscript inst/hooks/style-files.R --cache
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw|Rprofile|qmd)$'
      exclude: |
        (?x)^(
          renv/.*|
          packrat/.*|
          \.Rprofile
        )$

    # Run lintr
    - id: lintr
      name: Lint R files
      entry: Rscript inst/hooks/lintr.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          renv/.*|
          packrat/.*
        )$

    # Check if R code is parsable
    - id: parsable-R
      name: Check R parsable
      entry: Rscript inst/hooks/parsable-R.R
      language: system
      files: '\.(R|r)$'

    # Update roxygen documentation
    - id: roxygenize
      name: Update roxygen documentation
      entry: Rscript inst/hooks/roxygenize.R
      language: system
      files: '\.(R|r)$'
      pass_filenames: false

    # Keep DESCRIPTION tidy
    - id: use-tidy-description
      name: Tidy DESCRIPTION
      entry: Rscript inst/hooks/use-tidy-description.R
      language: system
      files: '^DESCRIPTION$'
      pass_filenames: false

    # Spell check
    - id: spell-check
      name: Spell check
      entry: Rscript inst/hooks/spell-check.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw|md)$'
      exclude: |
        (?x)^(
          .*\\.Rproj|
          NAMESPACE|
          data/.*|
          man/.*|
          tests/testthat/_snaps/.*
        )$

    # Ensure README.Rmd and README.md are in sync
    - id: readme-rmd-rendered
      name: Check README.Rmd rendered
      entry: Rscript inst/hooks/readme-rmd-rendered.R
      language: system
      files: '^README\.(Rmd|md)$'
      pass_filenames: false

        # No browser() statements
    - id: no-browser-statement
      name: Check for browser()
      entry: Rscript inst/hooks/no-browser-statement.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          inst/hooks/.*
        )$

    # No debug() statements
    - id: no-debug-statement
      name: Check for debug()
      entry: Rscript inst/hooks/no-debug-statement.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          inst/hooks/.*
        )$

    # Check dependencies are in DESCRIPTION
    - id: deps-in-desc
      name: Check dependencies in DESCRIPTION
      entry: Rscript inst/hooks/deps-in-desc.R
      language: system
      files: '^R/.*\.(R|r)$'

    # Don't commit common R artifacts
    - id: forbid-to-commit
      name: Don't commit common R artifacts
      entry: Cannot commit .Rhistory, .RData, .Rds or .rds
      language: fail
      files: '\.(Rhistory|RData|Rds|rds)$'
      exclude: |
        (?x)^(
          inst/extdata/.*|
          data/.*
        )$

# Standard pre-commit hooks (these work fine)
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: '\.Rd'
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-yaml
    - id: check-added-large-files
      args: ['--maxkb=1000']
    - id: mixed-line-ending
      args: ['--fix=lf']
    - id: file-contents-sorter
      files: '^\.Rbuildignore$'

# pre-commit CI config
ci:
  autoupdate_schedule: monthly

fix: improve variance function in Lewbel data generation
  R/data-generation.R
  man/generate_lewbel_data.Rd
  man/verify_lewbel_assumptions.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

feat: add comprehensive theory vignette for heteroskedasticity-based identification
  _pkgdown.yml
  inst/WORDLIST
  vignettes/heteroskedasticity-identification-theory.Rmd
  vignettes/references.bib
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

refactor: update tests and documentation after DGP variance function change
  .Rbuildignore
  BUILD_REPORT.md
  R/analysis.R
  R/constants.R
  R/lewbel-gmm.R
  comprehensive_test_summary.md
  hetid-manual.pdf
  inst/WORDLIST
  man/analyze_bootstrap_results.Rd
  man/analyze_main_results.Rd
  man/compare_gmm_2sls.Rd
  man/generate_lewbel_data.Rd
  tests/testthat/helper-lewbel-gmm.R
  tests/testthat/helper-rigobon.R
  tests/testthat/test-analysis.R
  tests/testthat/test-data-generation-edge-cases-comprehensive.R
  tests/testthat/test-data-generation.R
  tests/testthat/test-lewbel-gmm-integration.R
  tests/testthat/test-lewbel-validation-comprehensive.R
  tests/testthat/test-lewbel-vs-rendo-comprehensive.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
  tests/testthat/test-vignette-df-adjustments-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

docs: update .Rbuildignore and generate_lewbel_data.Rd
  .Rbuildignore
  man/generate_lewbel_data.Rd
Due: none

fix: update failing tests for new DGP with stronger variance function
  R/constants.R
  R/utils-hetid.R
  R/visualization.R
  R/zzz.R
  tests/testthat/test-lewbel-remote-comprehensive.R
  tests/testthat/test-lewbel-vs-rendo-comprehensive.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
  tests/testthat/test-refactoring-verification-integration.R
  tests/testthat/test-vignette-verify-comp.R
  tests/testthat/test-vignette-weak-het-comp.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix(docs): correct latex rendering in vignettes
  vignettes/heteroskedasticity-identification-theory.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

docs: add comprehensive alt-text to all vignette figures for accessibility
  vignettes/prono-method.Rmd
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

fix: improve robustness of analysis functions and test tolerances
  R/analysis.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
  tests/testthat/test-vignette-weak-het-comp.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor: migrate hex sticker to standard location for pkgdown compatibility
  README.md
  _pkgdown.yml
  man/figures/logo.png
Due: spell-check, readme-rmd-rendered

refactor: eliminate hex sticker duplication
  inst/hex/README.md
  inst/hex/hex.png
  inst/hex/hexSticker.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

feat: implement unified DGP for single and multiple X variables
  R/data-generation.R
  inst/WORDLIST
  man/generate_lewbel_data.Rd
  tests/testthat/test-lewbel-vs-rendo-comprehensive.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor(gmm): unify rigobon moment functions
  NAMESPACE
  R/lewbel-gmm.R
  _pkgdown.yml
  inst/examples/rigobon_gmm_example.R
  man/rigobon_moment_conditions.Rd
  man/rigobon_triangular_moments.Rd
  temp-refactor/duplication_report.csv
  temp-refactor/duplication_report_full.csv
  temp-refactor/rigobon-validation/original_functions.R
  temp-refactor/rigobon-validation/run_validation.R
  temp-refactor/rigobon-validation/unified_function.R
  tests/testthat/test-lewbel-gmm-integration.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: correct test failures and improve test robustness
  NAMESPACE
  R/lewbel-gmm.R
  man/rigobon_moment_conditions.Rd
  tests/testthat/test-lewbel-remote-comprehensive.R
  tests/testthat/test-lewbel-vs-rendo-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: replace bookdown cross-references with standard markdown links in vignette
  vignettes/heteroskedasticity-identification-theory.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

style: improve formatting of LW3 section in theory vignette
  vignettes/heteroskedasticity-identification-theory.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

fix: break long Theorem 1 equation into multiple lines
  vignettes/heteroskedasticity-identification-theory.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

test: fix Stata comparison by using asymptotic SEs
  tests/testthat/test-finite-sample-se-comparison-comprehensive.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

test: remove empty and placeholder tests
  tests/testthat/test-basic-cran.R
  tests/testthat/test-finite-sample-se-comparison-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

test: demonstrate exact coefficient matching across implementations
  tests/testthat/test-finite-sample-se-comparison-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

feat: suppress package loading messages in vignettes
  vignettes/getting-started.Rmd
  vignettes/heteroskedasticity-identification-theory.Rmd
  vignettes/lewbel-gmm.Rmd
  vignettes/package-comparison.Rmd
  vignettes/prono-method.Rmd
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

fix: update Stata comparison test with exact standard error value
  temp-refactor/rigobon-validation/run_validation.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
  vignettes/getting-started.Rmd
  vignettes/hetid.Rmd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: suppress expected NaN warnings in overidentification test
  hetid-manual.pdf
  inst/WORDLIST
  temp-refactor/refactor_plan.md
  tests/testthat/test-vignette-overidentification-comprehensive.R
  vignettes/getting-started.Rmd
  vignettes/heteroskedasticity-identification-theory.Rmd
  vignettes/hetid.Rmd
  vignettes/lewbel-gmm.Rmd
  vignettes/package-comparison.Rmd
  vignettes/prono-method.Rmd
  vignettes/references.bib
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

feat: add Klein & Vella (2010) semiparametric control function method
  DESCRIPTION
  NAMESPACE
  R/klein-vella-data.R
  R/klein-vella-estimation.R
  R/klein-vella-semiparametric.R
  inst/WORDLIST
  man/compare_klein_vella_methods.Rd
  man/create_klein_vella_config.Rd
  man/generate_klein_vella_data.Rd
  man/klein_vella_parametric.Rd
  man/klein_vella_semiparametric.Rd
  man/print.klein_vella_fit.Rd
  man/print.klein_vella_semipar.Rd
  man/print.summary.klein_vella_fit.Rd
  man/run_klein_vella_demo.Rd
  man/run_klein_vella_monte_carlo.Rd
  man/summary.klein_vella_fit.Rd
  man/verify_klein_vella_assumptions.Rd
  vignettes/getting-started.Rmd
  vignettes/klein-vella-method.Rmd
  vignettes/lewbel-gmm.Rmd
  vignettes/prono-method.Rmd
  vignettes/references.bib
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

chore: establish codecov base commit
  .codecov-base
Due: none

docs: add Klein-Vella section to pkgdown index
  _pkgdown.yml
Due: none

docs: add Klein and Vella (2010) method to documentation
  BUILD_REPORT.md
  DESCRIPTION
  README.md
  _pkgdown.yml
  vignettes/getting-started.Rmd
  vignettes/hetid.Rmd
  vignettes/package-comparison.Rmd
Due: style-files, lintr, use-tidy-description, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement

refactor: apply automated code formatting and lint fixes
  R/constants.R
  R/klein-vella-data.R
  R/klein-vella-estimation.R
  R/klein-vella-semiparametric.R
  R/lewbel-gmm.R
  R/simulation-helpers.R
  R/simulation.R
  tests/testthat/helper-lewbel-gmm.R
  tests/testthat/helper-rigobon.R
  tests/testthat/helper-test-utils.R
  tests/testthat/test-analysis.R
  tests/testthat/test-basic-cran.R
  tests/testthat/test-coverage-completion-fast.R
  tests/testthat/test-data-generation.R
  tests/testthat/test-finite-sample-se-comparison-comprehensive.R
  tests/testthat/test-lewbel-gmm-integration.R
  tests/testthat/test-lewbel-remote-comprehensive.R
  tests/testthat/test-lewbel-vs-rendo-comprehensive.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
  tests/testthat/test-vignette-verify-comp.R
  tests/testthat/test-vignette-weak-het-comp.R
  vignettes/heteroskedasticity-identification-theory.Rmd
  vignettes/klein-vella-method.Rmd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Fix math rendering in documentation
  R/estimation.R
  man/calculate_lewbel_bounds.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

docs: standardize references across vignettes
  vignettes/lewbel-gmm.Rmd
  vignettes/prono-method.Rmd
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

refactor: replace magic numbers with constants in klein-vella-estimation.R
  R/constants.R
  R/klein-vella-estimation.R
  inst/WORDLIST
  man/dot-hetid_constants.Rd
  man/run_klein_vella_demo.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor: replace magic numbers with constants in multiple files
  R/klein-vella-data.R
  R/klein-vella-semiparametric.R
  R/lewbel-gmm.R
  R/prono.R
  R/rigobon.R
  man/create_prono_config.Rd
  man/generate_prono_data.Rd
  man/klein_vella_semiparametric.Rd
  man/lewbel_gmm.Rd
  man/prono_gmm.Rd
  man/rigobon_gmm.Rd
  man/run_klein_vella_monte_carlo.Rd
  man/run_prono_demo.Rd
  man/run_prono_monte_carlo.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: format long line in prono.R
  R/prono.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor: Phase 3 - DRY refactoring to eliminate duplicate code blocks
  R/analysis.R
  R/lewbel-gmm.R
  R/simulation-helpers.R
  R/visualization.R
  inst/WORDLIST
  man/dot-build_params_list.Rd
  man/dot-create_boxplot_visualization.Rd
  man/dot-create_grouped_summary.Rd
  man/dot-lewbel_moments_helper.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor: Phase 4 - DRY in documentation using roxygen2 templates
  R/estimation.R
  R/klein-vella-data.R
  R/klein-vella-estimation.R
  R/klein-vella-semiparametric.R
  R/lewbel-gmm.R
  R/rigobon.R
  inst/WORDLIST
  man-roxygen/details-simultaneous-system.R
  man-roxygen/details-triangular-system.R
  man-roxygen/param-add-intercept.R
  man-roxygen/param-regime-var.R
  man-roxygen/param-system.R
  man-roxygen/param-x-vars.R
  man-roxygen/param-y1-var.R
  man-roxygen/param-y2-var.R
  man-roxygen/param-z-vars.R
  man-roxygen/return-estimation-results.R
  man/create_klein_vella_config.Rd
  man/dot-lewbel_moments_helper.Rd
  man/klein_vella_parametric.Rd
  man/klein_vella_semiparametric.Rd
  man/lewbel_gmm.Rd
  man/lewbel_simultaneous_moments.Rd
  man/lewbel_triangular_moments.Rd
  man/run_rigobon_analysis.Rd
  man/run_rigobon_estimation.Rd
  man/run_single_lewbel_simulation.Rd
  man/verify_klein_vella_assumptions.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor: Phase 5 - Cleanup and DRY in tests
  man/calculate_lewbel_bounds.Rd
  temp-refactor/find_test_duplicates.R
  tests/testthat/helper-lewbel-gmm.R
  tests/testthat/helper-test-constants.R
  tests/testthat/helper-test-utils.R
  tests/testthat/test-estimation-errors-cran.R
  tests/testthat/test-rigobon-integration.R
  tests/testthat/test-visualization-fast.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement
