Repository fernando-duarte/heteroskedasticity_identification: changes, and which pre-commit hooks are due for each by the changed paths.
All: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement, deps-in-desc, forbid-to-commit

.pre-commit-config.yaml:

# Pre-commit configuration using local R hooks
# This bypasses the renv isolation issues by using your system R installation
repos:
# Local R hooks that use system R (with digest 0.6.37)
- repo: local
  hooks:
    # Style files using styler
    - id: style-files
      name: Style R files
      entry: Rscript inst/hooks/style-files.R --cache
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw|Rprofile|qmd)$'
      exclude: |
        (?x)^(
          renv/.*|
          packrat/.*|
          \.Rprofile
        )$

    # Run lintr
    - id: lintr
      name: Lint R files
      entry: Rscript inst/hooks/lintr.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          renv/.*|
          packrat/.*
        )$

    # Check if R code is parsable
    - id: parsable-R
      name: Check R parsable
      entry: Rscript inst/hooks/parsable-R.R
      language: system
      files: '\.(R|r)$'

    # Update roxygen documentation
    - id: roxygenize
      name: Update roxygen documentation
      entry: Rscript inst/hooks/roxygenize.R
      language: system
      files: '\.(R|r)$'
      pass_filenames: false

    # Keep DESCRIPTION tidy
    - id: use-tidy-description
      name: Tidy DESCRIPTION
      entry: Rscript inst/hooks/use-tidy-description.R
      language: system
      files: '^DESCRIPTION$'
      pass_filenames: false

    # Spell check
    - id: spell-check
      name: Spell check
      entry: Rscript inst/hooks/spell-check.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw|md)$'
      exclude: |
        (?x)^(
          .*\\.Rproj|
          NAMESPACE|
          data/.*|
          man/.*|
          tests/testthat/_snaps/.*
        )$

    # Ensure README.Rmd and README.md are in sync
    - id: readme-rmd-rendered
      name: Check README.Rmd rendered
      entry: Rscript inst/hooks/readme-rmd-rendered.R
      language: system
      files: '^README\.(Rmd|md)$'
      pass_filenames: false

        # No browser() statements
    - id: no-browser-statement
      name: Check for browser()
      entry: Rscript inst/hooks/no-browser-statement.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          inst/hooks/.*
        )$

    # No debug() statements
    - id: no-debug-statement
      name: Check for debug()
      entry: Rscript inst/hooks/no-debug-statement.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          inst/hooks/.*
        )$

    # Check dependencies are in DESCRIPTION
    - id: deps-in-desc
      name: Check dependencies in DESCRIPTION
      entry: Rscript inst/hooks/deps-in-desc.R
      language: system
      files: '^R/.*\.(R|r)$'

    # Don't commit common R artifacts
    - id: forbid-to-commit
      name: Don't commit common R artifacts
      entry: Cannot commit .Rhistory, .RData, .Rds or .rds
      language: fail
      files: '\.(Rhistory|RData|Rds|rds)$'
      exclude: |
        (?x)^(
          inst/extdata/.*|
          data/.*
        )$

# Standard pre-commit hooks (these work fine)
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: '\.Rd'
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-yaml
    - id: check-added-large-files
      args: ['--maxkb=1000']
    - id: mixed-line-ending
      args: ['--fix=lf']
    - id: file-contents-sorter
      files: '^\.Rbuildignore$'

# pre-commit CI config
ci:
  autoupdate_schedule: monthly

feat: re-implement Docker optimizations with BuildKit cache and pandoc minimal
  Dockerfile
  Dockerfile.dev
  dev/internal-docs/DOCKER_COMPLETE_OPTIMIZATION_GUIDE.md
  inst/WORDLIST
Due: spell-check

fix: resolve devtools::check() issues and pre-commit hook failures
  .Rbuildignore
  inst/hooks/deps-in-desc.R
  inst/hooks/style-files.R
  tests/testthat/test-data-generation-edge-cases.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

feat: improve Docker ARM64 compatibility and add platform-specific optimizations
  Dockerfile
  Dockerfile.dev
  Makefile
  README.md
  dev/internal-docs/DOCKER_COMPLETE_OPTIMIZATION_GUIDE.md
  docker/PLATFORM_SPECIFIC_OPTIMIZATIONS.md
  inst/WORDLIST
Due: spell-check, readme-rmd-rendered

docs: reorganize magic variables documentation and add benchmarking script
  MAGIC_VARIABLES_REFACTORING_PLAN.md
  R_PACKAGE_MAGIC_VARIABLES_BEST_PRACTICES_2025.md
  dev/internal-docs/MAGIC_VARIABLES_DOCUMENTATION.md
  dev/internal-docs/MAGIC_VARIABLES_REFACTORING_PLAN.md
  dev/internal-docs/MAGIC_VARIABLES_VERIFICATION_PLAN.md
  docker/scripts/benchmark-architectures.sh
  inst/WORDLIST
Due: spell-check

fix: ensure package is installed before building pkgdown site
  .github/workflows/pkgdown.yml
Due: none

fix: skip PDF manual generation in Docker tests
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.dev
Due: none

feat: re-enable TinyTeX in Docker images with comprehensive caching
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.dev
  Makefile
  dev/internal-docs/DOCKER_COMPLETE_OPTIMIZATION_GUIDE.md
Due: spell-check

feat: enhance magic variables refactoring plan with locked constants and options system
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  MAGIC_VARIABLES_REFACTORING_PLAN.md
Due: spell-check

chore: remove obsolete install-security-packages.yml workflow
  .github/workflows/install-security-packages.yml
  dev/internal-docs/WORKFLOWS.md
Due: spell-check

chore: clean up non-existent branch references in workflows
  .github/workflows/R-CMD-check.yml
  .github/workflows/docker.yml
  .github/workflows/pkgdown.yml
Due: none

Phase 1 & 2: NSE variables and constants refactoring
  DESCRIPTION
  NAMESPACE
  R/analysis.R
  R/globals.R
  R/options.R
  R/string-constants.R
  R/sysdata.rda
  R/visualization.R
  data-raw/internal-constants.R
  tests/testthat/test-refactoring-verification.R
Due: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

feat: enhance .trivyignore with comprehensive security exceptions
  .trivyignore
Due: none

fix: correct Dependabot schedule configuration and add Trivy ignore file
  .github/dependabot.yml
  .trivyignore
Due: none

fix: resolve LaTeX errors in PDF manual generation
  R/messager.R
  R/stopper.R
  man/messager.Rd
  man/stopper.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Fix R CMD check issues
  DESCRIPTION
  NAMESPACE
  R/analysis.R
  R/data-generation.R
  R/estimation.R
  R/options.R
  R/string-constants.R
  R/utils.R
  R/visualization.R
  data-raw/internal-constants.R
  lewbel2012/Using Heteroscedasticity to Identify and Estimate Mismeasured and Endogenous Regressor Models.pdf
  lewbel2012/lewbel2012.tex
  lewbel2012/lewbel_2012_paper.pdf
  lewbel2012/monte_carlo_lewbel.R
  man/create_default_config.Rd
  man/hetid_const.Rd
  man/hetid_opt.Rd
  tests/testthat/test-df-adjustment.R
  tests/testthat/test-lewbel-validation.R
  tests/testthat/test-lewbel-vs-rendo.R
  tests/testthat/test-lewbel-vs-stata.R
  tests/testthat/test-refactoring-verification.R
  tests/testthat/test-simulations.R
  vignettes/.gitignore
  vignettes/degrees-of-freedom.Rmd
  vignettes/getting-started.Rmd
  vignettes/package-comparison.Rmd
Due: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Final fixes for R CMD check PASS status
  R/analysis.R
  tests/testthat/test-analysis-comprehensive-summary.R
  tests/testthat/test-analysis-edge-cases.R
  tests/testthat/test-lewbel-remote.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

feat: add modern devcontainer with R 4.5.0 and dual IDE support
  .devcontainer/IMPLEMENTATION_SUMMARY.md
  .devcontainer/QUICK_START.md
  .devcontainer/README-modern.md
  .devcontainer/README.md
  .devcontainer/devcontainer-modern.json
  .devcontainer/switch-devcontainer.sh
  .github/workflows/R-CMD-check.yml
  Dockerfile
  Dockerfile.dev
  README.md
  dev/internal-docs/CLAUDE.md
  dev/internal-docs/DOCKER_COMPLETE_OPTIMIZATION_GUIDE.md
  inst/WORDLIST
Due: spell-check, readme-rmd-rendered

feat: update devcontainer configuration
  .devcontainer/TEST_MODERN_DEVCONTAINER.md
  .devcontainer/devcontainer-traditional.json
  .devcontainer/devcontainer.json
  inst/WORDLIST
Due: spell-check

fix: resolve Dependabot config error and devcontainer image issues
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: none

fix: replace deprecated .data$ syntax in tidyselect contexts
  NAMESPACE
  R/analysis.R
  _pkgdown.yml
  inst/WORDLIST
  man/create_default_config.Rd
  man/dot-hetid_strings.Rd
  man/plot_first_stage_f_dist.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: add hetid_opt to pkgdown reference index
  DESCRIPTION
  R/analysis.R
  R/estimation.R
  R/utils.R
  R/zzz.R
  data-raw/internal-constants.R
  inst/WORDLIST
  tests/testthat/test-refactoring-verification.R
  tests/testthat/test-simulations.R
Due: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: mark .hetid_strings as internal to fix pkgdown build
  .lintr
  NAMESPACE
  R/data-generation.R
  R/string-constants.R
  R/utils.R
  R/visualization.R
  man/dot-hetid_strings.Rd
  man/plot_first_stage_f_dist.Rd
  tests/testthat/test-analysis-edge-cases.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

feat: change line length limit from 80 to 120 characters
  .devcontainer/devcontainer-modern.json
  .lintr
  .styler.yml
  Makefile
  inst/hooks/style-files.R
  quick_ci_test.sh
Due: style-files, lintr, parsable-R, roxygenize, spell-check

fix: resolve R CMD check issues and add repository configuration
  .Rprofile
  MAGIC_VARIABLES_REFACTORING_PLAN.md
  NAMESPACE
  R/estimation.R
  R/visualization.R
  R_PACKAGE_MAGIC_VARIABLES_BEST_PRACTICES_2025.md
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: update .Rbuildignore to exclude .augmentrules
  .Rbuildignore
Due: none

refactor: consolidate verification script into package comparison vignette
  .gitignore
  Makefile
  dev/internal-docs/lewbel_implementations_comparison.tex
  inst/WORDLIST
  verify_lewbel_implementations.R
  vignettes/degrees-of-freedom.Rmd
  vignettes/getting-started.Rmd
  vignettes/package-comparison.Rmd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

feat: add comprehensive vignette verification tests
  cleanup-analysis-report.md
  inst/WORDLIST
  tests/testthat/test-vignette-df-adjustments.R
  tests/testthat/test-vignette-overidentification.R
  tests/testthat/test-vignette-verification-complete.R
  tests/testthat/test-vignette-weak-heteroskedasticity.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: docker-test workflow - install current code before testing
  .Rbuildignore
  .github/workflows/docker.yml
  DESCRIPTION
  man/hetid_const.Rd
  man/hetid_opt.Rd
Due: use-tidy-description

docs: enhance cleanup analysis report with 2025 R package best practices
  cleanup-analysis-report.md
Due: spell-check

feat: implement repository cleanup plan
  cleanup-analysis-report.md
Due: spell-check

fix: docker-test workflow - enable PDF manual and vignette building
  .github/workflows/docker.yml
  Dockerfile
  vignettes/package-comparison.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

chore: add CI/CD best practices doc to ignore files
  .Rbuildignore
  .gitignore
Due: none

fix: add more LaTeX packages to TinyTeX for PDF manual generation
  Dockerfile
Due: none

debug: add LaTeX error logging to docker workflow
  .github/workflows/docker.yml
Due: none

fix: add Computer Modern fonts to TinyTeX installation
  Dockerfile
Due: none

fix: use tlmgr directly to install LaTeX packages
  Dockerfile
Due: none

fix: switch from TinyTeX to TeX Live for reliable PDF generation
  .github/workflows/docker.yml
  Dockerfile
Due: none

docs: add summary of Docker LaTeX fix
  DOCKER_LATEX_FIX_SUMMARY.md
  inst/WORDLIST
Due: spell-check

docs: reorganize internal documentation and add LaTeX source
  dev/internal-docs/BUILD_DOCUMENTATION.md
  dev/internal-docs/DOCKER_LATEX_FIX_SUMMARY.md
  dev/internal-docs/cleanup-analysis-report.md
  inst/WORDLIST
  lewbel2012/lewbel2012.tex
Due: spell-check

docs: update README to reflect current repository state
  README.md
Due: spell-check, readme-rmd-rendered
