Repository fernando-duarte/heteroskedasticity_identification: changes, and which pre-commit hooks are due for each by the changed paths.
All: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement, deps-in-desc, forbid-to-commit

.pre-commit-config.yaml:

# Pre-commit configuration using local R hooks
# This bypasses the renv isolation issues by using your system R installation
repos:
# Local R hooks that use system R (with digest 0.6.37)
- repo: local
  hooks:
    # Style files using styler
    - id: style-files
      name: Style R files
      entry: Rscript inst/hooks/style-files.R --cache
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw|Rprofile|qmd)$'
      exclude: |
        (?x)^(
          renv/.*|
          packrat/.*|
          \.Rprofile
        )$

    # Run lintr
    - id: lintr
      name: Lint R files
      entry: Rscript inst/hooks/lintr.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          renv/.*|
          packrat/.*
        )$

    # Check if R code is parsable
    - id: parsable-R
      name: Check R parsable
      entry: Rscript inst/hooks/parsable-R.R
      language: system
      files: '\.(R|r)$'

    # Update roxygen documentation
    - id: roxygenize
      name: Update roxygen documentation
      entry: Rscript inst/hooks/roxygenize.R
      language: system
      files: '\.(R|r)$'
      pass_filenames: false

    # Keep DESCRIPTION tidy
    - id: use-tidy-description
      name: Tidy DESCRIPTION
      entry: Rscript inst/hooks/use-tidy-description.R
      language: system
      files: '^DESCRIPTION$'
      pass_filenames: false

    # Spell check
    - id: spell-check
      name: Spell check
      entry: Rscript inst/hooks/spell-check.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw|md)$'
      exclude: |
        (?x)^(
          .*\\.Rproj|
          NAMESPACE|
          data/.*|
          man/.*|
          tests/testthat/_snaps/.*
        )$

    # Ensure README.Rmd and README.md are in sync
    - id: readme-rmd-rendered
      name: Check README.Rmd rendered
      entry: Rscript inst/hooks/readme-rmd-rendered.R
      language: system
      files: '^README\.(Rmd|md)$'
      pass_filenames: false

        # No browser() statements
    - id: no-browser-statement
      name: Check for browser()
      entry: Rscript inst/hooks/no-browser-statement.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          inst/hooks/.*
        )$

    # No debug() statements
    - id: no-debug-statement
      name: Check for debug()
      entry: Rscript inst/hooks/no-debug-statement.R
      language: system
      files: '\.(R|r|Rmd|rmd|Rnw|rnw)$'
      exclude: |
        (?x)^(
          inst/hooks/.*
        )$

    # Check dependencies are in DESCRIPTION
    - id: deps-in-desc
      name: Check dependencies in DESCRIPTION
      entry: Rscript inst/hooks/deps-in-desc.R
      language: system
      files: '^R/.*\.(R|r)$'

    # Don't commit common R artifacts
    - id: forbid-to-commit
      name: Don't commit common R artifacts
      entry: Cannot commit .Rhistory, .RData, .Rds or .rds
      language: fail
      files: '\.(Rhistory|RData|Rds|rds)$'
      exclude: |
        (?x)^(
          inst/extdata/.*|
          data/.*
        )$

# Standard pre-commit hooks (these work fine)
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
      exclude: '\.Rd'
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-yaml
    - id: check-added-large-files
      args: ['--maxkb=1000']
    - id: mixed-line-ending
      args: ['--fix=lf']
    - id: file-contents-sorter
      files: '^\.Rbuildignore$'

# pre-commit CI config
ci:
  autoupdate_schedule: monthly

docs: extract Development section to separate DEVELOPMENT.md file
  DEVELOPMENT.md
  README.md
Due: spell-check, readme-rmd-rendered

docs: extract Usage section to separate USAGE.md file
  README.md
  USAGE.md
Due: spell-check, readme-rmd-rendered

docs: remove Documentation and Vignettes section from README
  README.md
Due: spell-check, readme-rmd-rendered

refactor: reorganize development scripts into dev/ directory
  .Rbuildignore
  Makefile
  dev/README.md
  dev/docker/PLATFORM_SPECIFIC_OPTIMIZATIONS.md
  dev/docker/scripts/benchmark-architectures.sh
  dev/docker/scripts/build.sh
  dev/docker/scripts/cache-cleanup.sh
  dev/docker/scripts/dev.sh
  dev/docker/scripts/simulation.sh
  dev/quick_ci_test.sh
  dev/simulate_ci_cd.sh
  dev/test_workflows.sh
Due: spell-check

Streamline README.md
  README.md
Due: spell-check, readme-rmd-rendered

docs: reorganize documentation structure following 2025 best practices
  .gitignore
  README.md
  docs/guides/DEVELOPMENT.md
  docs/guides/USAGE.md
  inst/ci-cd-impact-analysis.md
Due: spell-check, readme-rmd-rendered

refactor: consolidate development files in dev/ directory
  dev/Makevars-example
  dev/NEWS.Rd
  dev/STRUCTURE_NOTES.md
  dev/build_local_documentation.R
  dev/fix-macos-compilation.sh
  dev/fix-precommit-digest.R
  dev/macos-r-compilation-fix.md
  dev/precommit-local-r-solution.md
  dev/precommit-r-environment-explained.md
  dev/precommit-setup.md
  dev/setup-precommit-r.sh
  dev/use-local-r-hooks.sh
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: resolve pkgdown docs folder conflict following 2025 best practices
  .github/workflows/pkgdown.yml
  .gitignore
  _pkgdown.yml
Due: none

Update README.md
  README.md
  dev/macos-complete-guide.md
  docs/guides/TROUBLESHOOTING.md
  docs/guides/USAGE.md
  vignettes/getting-started.Rmd
Due: style-files, lintr, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement

docs: update vignettes and remove degrees of freedom vignette
  dev/BUILD_DOCUMENTATION.md
  dev/PLATFORM_SPECIFIC_OPTIMIZATIONS.md
  dev/README.md
  dev/STRUCTURE_NOTES.md
  dev/build_local_documentation.R
  dev/fix-precommit-digest.R
  dev/macos-complete-guide.md
  dev/macos-r-compilation-fix.md
  dev/precommit-local-r-solution.md
  dev/precommit-r-environment-explained.md
  dev/precommit-setup.md
  docs/guides/DEVELOPMENT.md
  docs/guides/TROUBLESHOOTING.md
  docs/guides/USAGE.md
  vignettes/degrees-of-freedom.Rmd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: update ignore files and clean up repository structure
  .Rbuildignore
  .dockerignore
  .gitignore
  DESCRIPTION
  Makefile
  README.md
  _pkgdown.yml
  dev/Makevars-example
  dev/internal-docs/REPLICATION_RESULTS.md
  dev/internal-docs/lewbel_implementations_comparison.tex
  dev/internal-docs/lewbel_methods_summary.tex
  dev/scripts/benchmark-architectures.sh
  dev/scripts/build.sh
  dev/scripts/cache-cleanup.sh
  dev/scripts/dev.sh
  dev/scripts/fix-macos-compilation.sh
  dev/scripts/quick_ci_test.sh
  dev/scripts/setup-precommit-r.sh
  dev/scripts/simulate_ci_cd.sh
  dev/scripts/simulation.sh
  dev/scripts/test_workflows.sh
  dev/scripts/use-local-r-hooks.sh
  docs/guides/DEVELOPMENT.md
  docs/guides/TROUBLESHOOTING.md
  docs/guides/USAGE.md
  vignettes/package-comparison.Rmd
Due: style-files, lintr, use-tidy-description, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement

fix: add missing hetid_opt function to pkgdown reference index
  _pkgdown.yml
Due: none

fix: update pkgdown workflow to use docs directory
  .github/workflows/pkgdown.yml
Due: none

feat: add codecov integration for test coverage tracking
  .codecov.yml
  .github/workflows/test-coverage.yml
Due: none

feat: add CODECOV_TOKEN to test coverage workflow
  .github/workflows/test-coverage.yml
Due: none

docs: update codecov badge with token for proper display
  README.md
Due: spell-check, readme-rmd-rendered

refactor: use clearer Docker image names (hetid and hetid-dev)
  .github/workflows/docker.yml
Due: none

Revert "refactor: use clearer Docker image names (hetid and hetid-dev)"
  .github/workflows/docker.yml
Due: none

fix: add dev-guides documentation to repository
  .gitignore
  dev-guides/DEVELOPMENT.md
  dev-guides/TROUBLESHOOTING.md
  dev-guides/USAGE.md
Due: spell-check

docs: add proper CITATION file with package and Lewbel (2012) references
  inst/CITATION
Due: none

More up to date test-coverage workflow
  .github/workflows/test-coverage.yml
Due: none

fix: update test-coverage workflow to latest r-lib/actions standards
  .github/workflows/test-coverage.yml
Due: none

chore: add TODO.md to gitignore patterns
  .gitignore
Due: none

feat: add Rigobon (2003) regime-based identification method with full test coverage
  NAMESPACE
  R/data-generation.R
  R/estimation.R
  R/lewbel-monte-carlo.R
  R/rigobon.R
  README.md
  _pkgdown.yml
  dev-guides/RIGOBON.md
  examples/rigobon_demo.R
  inst/WORDLIST
  man/generate_rigobon_data.Rd
  man/run_rigobon_estimation.Rd
  tests/testthat/test-rigobon.R
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement, deps-in-desc

docs: add missing Rigobon documentation files generated by roxygen2
  man/compare_rigobon_methods.Rd
  man/run_rigobon_analysis.Rd
  man/run_rigobon_demo.Rd
  man/validate_rigobon_assumptions.Rd
Due: none

chore: ignore PDF files in lewbel2012 directory across all ignore files
  .Rbuildignore
  .dockerignore
  .gitignore
  .pkgdownignore
  .trivyignore
  DESCRIPTION
Due: use-tidy-description

Add hex sticker to README and pkgdown homepage
  README.md
  _pkgdown.yml
Due: spell-check, readme-rmd-rendered

test: handle expected NaN warnings in Prono tests
  R/prono.R
  tests/testthat/test-prono.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Remove simultaneous system tests and document identification challenges
  R/lewbel-gmm.R
  detailed_test_failures.txt
  final_test_output.txt
  final_test_results.txt
  final_test_run.txt
  inst/WORDLIST
  lewbel2012/lewbel2012.bcf-SAVE-ERROR
  lewbel2012/lewbel2012.tex
  lewbel2012/tp-files/readme.tp.txt
  man/lewbel_gmm.Rd
  man/lewbel_simultaneous_moments.Rd
  man/rigobon_gmm.Rd
  man/rigobon_simultaneous_moments.Rd
  test_gmm_output.Rout
  test_output.txt
  tests/testthat/test-lewbel-gmm.R
  vignettes/lewbel-gmm.Rmd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Fix rigobon vignette build error
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

Fix: Align GMM attribute naming and update test
  tests/testthat/test-lewbel-gmm.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

Refactor: Ensure consistent GMM attribute handling and update tests
  R/lewbel-gmm.R
  inst/WORDLIST
  tests/testthat/test-lewbel-gmm.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

test: handle expected NaN warnings in GARCH estimation
  inst/WORDLIST
  tests/testthat/test-lewbel-gmm.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: resolve R CMD check issues and clean up repository
  .Rbuildignore
  GMM_DOCUMENTATION_UPDATES.md
  Makefile
  README.md
  detailed_test_failures.txt
  final_test_output.txt
  final_test_results.txt
  final_test_run.txt
  test_gmm_output.Rout
  test_output.txt
Due: spell-check, readme-rmd-rendered
