Repository fernando-duarte/heteroskedasticity_identification: changes, and which pre-commit hooks are due for each by the changed paths.
All: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement, deps-in-desc, forbid-to-commit

style-files:
  name: Style R files
  entry: Rscript inst/hooks/style-files.R --cache
  language: system

lintr:
  name: Lint R files
  entry: Rscript inst/hooks/lintr.R
  language: system

parsable-R:
  name: Check R parsable
  entry: Rscript inst/hooks/parsable-R.R
  language: system

roxygenize:
  name: Update roxygen documentation
  entry: Rscript inst/hooks/roxygenize.R
  language: system
  pass_filenames: false

use-tidy-description:
  name: Tidy DESCRIPTION
  entry: Rscript inst/hooks/use-tidy-description.R
  language: system
  pass_filenames: false

spell-check:
  name: Spell check
  entry: Rscript inst/hooks/spell-check.R
  language: system

readme-rmd-rendered:
  name: Check README.Rmd rendered
  entry: Rscript inst/hooks/readme-rmd-rendered.R
  language: system
  pass_filenames: false

no-browser-statement:
  name: Check for browser()
  entry: Rscript inst/hooks/no-browser-statement.R
  language: system

no-debug-statement:
  name: Check for debug()
  entry: Rscript inst/hooks/no-debug-statement.R
  language: system

deps-in-desc:
  name: Check dependencies in DESCRIPTION
  entry: Rscript inst/hooks/deps-in-desc.R
  language: system

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .RData, .Rds or .rds
  language: fail

fix: resolve pkgdown reference index errors
  R/lewbel-gmm.R
  _pkgdown.yml
  man/lewbel-gmm.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor: Phase 1 - Apply automated code formatting with styler
  .Rbuildignore
  R/lewbel-gmm.R
  tests/testthat/helper-skip.R
  tests/testthat/test-lewbel-remote-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

docs: Add dupree duplication analysis report
  temp-refactor/duplication_report.csv
  temp-refactor/duplication_report_full.csv
Due: none

refactor: Phase 2 - Introduce single-source constants for magic numbers
  .lintr
  R/00-constants.R
  R/data-generation.R
  R/estimation.R
  R/lewbel-gmm.R
  R/lewbel-monte-carlo.R
  R/rigobon.R
  R/utils-df.R
  R/utils-hetid.R
  R/zzz.R
  inst/WORDLIST
  man/generate_hetid_test_data.Rd
  man/get_critical_value.Rd
  man/run_rigobon_analysis.Rd
  man/run_rigobon_demo.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

refactor: extract common simulation logic into helper functions
  NAMESPACE
  R/simulation-helpers.R
  R/simulation.R
  inst/WORDLIST
  man/compare_df_adjustments.Rd
  man/run_lewbel_monte_carlo_df.Rd
  man/simulation-helpers.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: Phase 1 – stabilize core devcontainer
  .devcontainer/devcontainer.json
Due: none

feat: Phase 2 – fast startup & productive UX
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

feat: Phase 3 – harden, secure, and persist
  .devcontainer/SECURITY_CHECKLIST.md
  .devcontainer/devcontainer-codespaces.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.codespaces.yml
  .gitignore
Due: spell-check

feat: Phase 4 – educational template repository
  .devcontainer/CODESPACES_IMPLEMENTATION_COMPLETE.md
  .devcontainer/TEMPLATE_SETUP_GUIDE.md
  .devcontainer/devcontainer-template.json
  README.md
Due: spell-check, readme-rmd-rendered

fix: correct epsilon macro in roxygen template
  man-roxygen/details-triangular-model.R
  man/generate_lewbel_data.Rd
  vignettes/getting-started.R
  vignettes/package-comparison.R
  vignettes/prono-method.R
  vignettes/prono-method_files/figure-html/plot-variance-1.png
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: update test expectation to match actual verbose output
  tests/testthat/test-coverage-completion-fast.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: remove non-existent functions from pkgdown reference
  _pkgdown.yml
Due: none

feat: add Codespaces-specific configuration files
  .github/workflows/codespaces-prebuild.yml
  .vscode/tasks-codespaces.json
Due: none

fix: update Codespaces prebuild workflow to use Docker build
  .devcontainer/docker-compose.codespaces.yml
  .github/workflows/codespaces-prebuild.yml
Due: none

chore: update Docker GitHub Actions to latest versions
  .github/workflows/codespaces-prebuild.yml
  .github/workflows/docker.yml
Due: none

docs: consolidate citations in inst/CITATION file
  README.md
  inst/CITATION
Due: spell-check, readme-rmd-rendered

docs: restore full citations in README
  README.md
Due: spell-check, readme-rmd-rendered

fix: ensure tinytex package is installed before use in Dockerfile.dev
  Dockerfile.dev
Due: none

refactor: use string constants in utils-hetid.R
  R/utils-hetid.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: resolve apt lock conflicts in concurrent Docker builds
  Dockerfile.dev
Due: none

refactor: remove hardcoded color references in visualization
  R/string-constants.R
  R/visualization.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

fix: Remove ARM64 platform from codespaces prebuild to avoid QEMU emulation issues
  .github/workflows/codespaces-prebuild.yml
Due: none

refactor: consolidate constants into single file following best practices
  R/00-constants.R
  R/constants.R
  R/data-generation.R
  R/estimation.R
  R/lewbel-gmm.R
  R/lewbel-monte-carlo.R
  R/rigobon.R
  R/string-constants.R
  R/utils-df.R
  R/utils-hetid.R
  R/zzz.R
  man/dot-ALPHA_DEFAULT.Rd
  man/dot-hetid_const.Rd
  man/dot-hetid_constants.Rd
  man/dot-hetid_strings.Rd
  man/generate_hetid_test_data.Rd
  man/get_critical_value.Rd
  man/lewbel_simultaneous_moments.Rd
  man/run_rigobon_analysis.Rd
  man/run_rigobon_demo.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

chore: remove obsolete documentation and build artifacts
  .github/workflows/test-coverage.yml
  README.md
  dev-guides/RIGOBON.md
  inst/PRONO_REPLICATION_SUMMARY.md
  lewbel2012/lewbel2012.bcf-SAVE-ERROR
Due: spell-check, readme-rmd-rendered

Fix GitHub Codespaces: Use more reliable rocker/tidyverse image
  .devcontainer/devcontainer-original.json
  .devcontainer/devcontainer.json
Due: none

Fix GitHub Codespaces: Create parallel config following preservation rules
  .devcontainer/README-CODESPACES.md
  .devcontainer/devcontainer-codespaces.json
Due: spell-check

refactor: implement constants throughout codebase and fix R CMD check issues
  .Rbuildignore
  .Rprofile
  .devcontainer/SECURITY_CHECKLIST.md
  .devcontainer/TEMPLATE_SETUP_GUIDE.md
  R/analysis.R
  R/constants.R
  R/data-generation.R
  R/estimation.R
  R/lewbel-gmm.R
  R/options.R
  R/prono-diagonal-garch.R
  R/prono.R
  R/rigobon.R
  R/utils-df.R
  R/utils.R
  R/visualization.R
  hetid-manual.pdf
  inst/WORDLIST
  man/create_default_config.Rd
  man/dot-hetid_constants.Rd
  man/plot_first_stage_f_dist.Rd
  tests/testthat/test-analysis-bootstrap-comp.R
  tests/testthat/test-analysis-knitr-int.R
  tests/testthat/test-analysis-summary-comp.R
  tests/testthat/test-basic-cran.R
  tests/testthat/test-data-gen-edge-comp.R
  tests/testthat/test-vignette-verify-comp.R
  tests/testthat/test-vignette-weak-het-comp.R
  tests/testthat/test-visualization-fast.R
  vignettes/prono-method_files/figure-html/f-stats-1.png
  vignettes/prono-method_files/figure-html/plot-mc-results-1.png
  vignettes/prono-method_files/figure-html/plot-mc-results-2.png
  vignettes/prono-method_files/figure-html/plot-variance-1.png
  vignettes/prono-method_files/figure-html/replication-plots-1.png
  vignettes/prono-method_files/figure-html/replication-plots-2.png
  vignettes/prono-method_files/figure-html/sensitivity-garch-1.png
  vignettes/prono-method_files/figure-html/sensitivity-n-1.png
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Complete GitHub Codespaces configuration - FULLY TESTED
  .devcontainer/README-CODESPACES.md
  .devcontainer/devcontainer-codespaces.json
  .devcontainer/setup-hetid.sh
Due: spell-check

Add R Language Server pre-installation for VS Code
  .devcontainer/devcontainer-codespaces.json
  .devcontainer/setup-hetid.sh
Due: none

refactor: extend constants usage throughout codebase
  R/constants.R
  R/data-generation.R
  R/estimation.R
  R/lewbel-gmm.R
  R/prono-diagonal-garch.R
  R/prono.R
  R/rigobon.R
  inst/WORDLIST
  man/calculate_lewbel_bounds.Rd
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Fix RStudio Server authentication for Codespaces
  .devcontainer/devcontainer-codespaces.json
  .devcontainer/setup-hetid.sh
Due: none

Remove codespaces support
  .Rbuildignore
  .devcontainer/CODESPACES_IMPLEMENTATION_COMPLETE.md
  .devcontainer/IMPLEMENTATION_SUMMARY.md
  .devcontainer/QUICK_START.md
  .devcontainer/README-CODESPACES.md
  .devcontainer/README-modern.md
  .devcontainer/README.md
  .devcontainer/SECURITY_CHECKLIST.md
  .devcontainer/TEMPLATE_SETUP_GUIDE.md
  .devcontainer/TEST_MODERN_DEVCONTAINER.md
  .devcontainer/devcontainer-codespaces.json
  .devcontainer/devcontainer-modern.json
  .devcontainer/devcontainer-original.json
  .devcontainer/devcontainer-template.json
  .devcontainer/devcontainer-traditional.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.codespaces.yml
  .devcontainer/setup-hetid.sh
  .devcontainer/setup.sh
  .devcontainer/switch-devcontainer.sh
  .github/workflows/codespaces-prebuild.yml
  .vscode/tasks-codespaces.json
  README.md
  dev-guides/DEVELOPMENT.md
  dev-guides/USAGE.md
  inst/WORDLIST
Due: spell-check, readme-rmd-rendered

docs: align multi-equation displays in vignettes
  vignettes/getting-started.Rmd
  vignettes/lewbel-gmm.Rmd
  vignettes/prono-method.Rmd
  vignettes/rigobon-method.Rmd
Due: style-files, lintr, spell-check, no-browser-statement, no-debug-statement

Path conditions:
  style-files: any of: \.(R|r|Rmd|rmd|Rnw|rnw|Rprofile|qmd)$, but not: (?x)^(
  renv/.*|
  packrat/.*|
  \.Rprofile
)$

  lintr: any of: \.(R|r|Rmd|rmd|Rnw|rnw)$, but not: (?x)^(
  renv/.*|
  packrat/.*
)$

  parsable-R: any of: \.(R|r)$
  roxygenize: any of: \.(R|r)$
  use-tidy-description: any of: ^DESCRIPTION$
  spell-check: any of: \.(R|r|Rmd|rmd|Rnw|rnw|md)$, but not: (?x)^(
  .*\\.Rproj|
  NAMESPACE|
  data/.*|
  man/.*|
  tests/testthat/_snaps/.*
)$

  readme-rmd-rendered: any of: ^README\.(Rmd|md)$
  no-browser-statement: any of: \.(R|r|Rmd|rmd|Rnw|rnw)$, but not: (?x)^(
  inst/hooks/.*
)$

  no-debug-statement: any of: \.(R|r|Rmd|rmd|Rnw|rnw)$, but not: (?x)^(
  inst/hooks/.*
)$

  deps-in-desc: any of: ^R/.*\.(R|r)$
  forbid-to-commit: any of: \.(Rhistory|RData|Rds|rds)$, but not: (?x)^(
  inst/extdata/.*|
  data/.*
)$

