Repository fernando-duarte/heteroskedasticity_identification: changes, and which pre-commit hooks are due for each by the changed paths.
All: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, readme-rmd-rendered, no-browser-statement, no-debug-statement, deps-in-desc, forbid-to-commit

style-files:
  name: Style R files
  entry: Rscript inst/hooks/style-files.R --cache
  language: system

lintr:
  name: Lint R files
  entry: Rscript inst/hooks/lintr.R
  language: system

parsable-R:
  name: Check R parsable
  entry: Rscript inst/hooks/parsable-R.R
  language: system

roxygenize:
  name: Update roxygen documentation
  entry: Rscript inst/hooks/roxygenize.R
  language: system
  pass_filenames: false

use-tidy-description:
  name: Tidy DESCRIPTION
  entry: Rscript inst/hooks/use-tidy-description.R
  language: system
  pass_filenames: false

spell-check:
  name: Spell check
  entry: Rscript inst/hooks/spell-check.R
  language: system

readme-rmd-rendered:
  name: Check README.Rmd rendered
  entry: Rscript inst/hooks/readme-rmd-rendered.R
  language: system
  pass_filenames: false

no-browser-statement:
  name: Check for browser()
  entry: Rscript inst/hooks/no-browser-statement.R
  language: system

no-debug-statement:
  name: Check for debug()
  entry: Rscript inst/hooks/no-debug-statement.R
  language: system

deps-in-desc:
  name: Check dependencies in DESCRIPTION
  entry: Rscript inst/hooks/deps-in-desc.R
  language: system

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .RData, .Rds or .rds
  language: fail

refactor: Continue Phase 5 - More test DRY improvements
  tests/testthat/helper-test-utils.R
  tests/testthat/test-basic-cran.R
  tests/testthat/test-coverage-completion-fast.R
  tests/testthat/test-data-generation-fast.R
  tests/testthat/test-edge-cases-cran.R
  tests/testthat/test-estimation-errors-cran.R
  tests/testthat/test-rigobon-integration.R
  tests/testthat/test-simulations-fast.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

fix: Allow non-finite values in simulation test assertions
  tests/testthat/test-simulations-fast.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

chore: Add LaTeX commands to spelling wordlist
  inst/WORDLIST
Due: none

refactor: replace system() calls with safer alternatives
  DESCRIPTION
  R/messager.R
  R/utils-hetid.R
  inst/WORDLIST
  tests/testthat/test-finite-sample-se-comparison-comprehensive.R
  tests/testthat/test-lewbel-vs-stata-comprehensive.R
Due: style-files, lintr, parsable-R, roxygenize, use-tidy-description, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

test: Update messager test to expect message output
  tests/testthat/test-utilities.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement

refactor: remove redundant constants and unused examples
  .github/SECURITY.md
  .github/SECURITY_IMPROVEMENTS_2025.md
  .github/scripts/pin-github-actions.R
  R/analysis.R
  R/sysdata.rda
  comprehensive_test_summary.md
  data-raw/internal-constants.R
  examples/df_adjustment_demo.R
  examples/rigobon_demo.R
  man/dot-create_grouped_summary.Rd
  tests/testthat/test-refactoring-verification-integration.R
Due: style-files, lintr, parsable-R, roxygenize, spell-check, no-browser-statement, no-debug-statement, deps-in-desc

Path conditions:
  style-files: any of: \.(R|r|Rmd|rmd|Rnw|rnw|Rprofile|qmd)$, but not: (?x)^(
  renv/.*|
  packrat/.*|
  \.Rprofile
)$

  lintr: any of: \.(R|r|Rmd|rmd|Rnw|rnw)$, but not: (?x)^(
  renv/.*|
  packrat/.*
)$

  parsable-R: any of: \.(R|r)$
  roxygenize: any of: \.(R|r)$
  use-tidy-description: any of: ^DESCRIPTION$
  spell-check: any of: \.(R|r|Rmd|rmd|Rnw|rnw|md)$, but not: (?x)^(
  .*\\.Rproj|
  NAMESPACE|
  data/.*|
  man/.*|
  tests/testthat/_snaps/.*
)$

  readme-rmd-rendered: any of: ^README\.(Rmd|md)$
  no-browser-statement: any of: \.(R|r|Rmd|rmd|Rnw|rnw)$, but not: (?x)^(
  inst/hooks/.*
)$

  no-debug-statement: any of: \.(R|r|Rmd|rmd|Rnw|rnw)$, but not: (?x)^(
  inst/hooks/.*
)$

  deps-in-desc: any of: ^R/.*\.(R|r)$
  forbid-to-commit: any of: \.(Rhistory|RData|Rds|rds)$, but not: (?x)^(
  inst/extdata/.*|
  data/.*
)$

